{% extends 'base.html.twig' %}
{% block title %}Symrecipe - mes Ingredients {% endblock %}
{% block body %}
<div class="container">


    <h3>Modifer mon ingrédient</h3>
    {{form_start(form)}}
    <div class="from-group">
        {{form_label(form.name)}}
        {{form_widget(form.name)}}
        <div class="form_errors">
            {{form_errors(form.name)}}
        </div>
    </div>
    <div class="from-group">
        {{form_label(form.price)}}
        {{form_widget(form.price)}}
        <div class="form_errors">
            {{form_errors(form.price)}}
        </div>
    </div>
    <div class="from-group">
        {{form_row(form.submit)}}
    </div>

    {{form_end(form)}}
</div>
{% endblock %}